@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Itim&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Barlow:wght@100&family=Bellefair&family=Itim&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&family=Itim&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');
html{
width: auto;
height: auto;
}
body{
    background-image: url('./space-tourism-website-main/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg');
    background-size: cover;
    color: white;

    background-attachment: fixed;
}
.b1{
    background-color: transparent;
    border: none;
    color: white;
    margin-top:0px;
    margin-right: 50px;
 margin-left:70px;
 cursor: pointer;  
 height: 78px;
 outline: none;
 font-family:  "Barlow Condensed",sans-serif;
 font-size: 15px;
 letter-spacing: 2px;
 font-weight: 800;
}
.mobile-section{
    display: none;
}
.hr{
    background-color: #575c65;
    width: 700px;
    height: 1px;
    margin-left: -180px;
    margin-top: -20px;
}
.linha::after{
    content:'';
    border-bottom: white 2px solid;
    display: block;
    width: 70px;
    margin-left: 70px;
    margin-top: 0px;
}
.lista{
  background-color: hsla(0,0%,100%,.05);
  backdrop-filter: blur(80px);
  width: 945px;
  height: 100px;
  margin-left: 0px;
  margin-top: 40px;
}
.lista .butao{
    background-color: transparent;
    border: none;
    color: white;
    margin-top:30px;
    margin-right: 30px;
 margin-left:70px;
 cursor: pointer;  
 height: 78px;
 outline: none;
 font-family:  "Barlow Condensed",sans-serif;
 font-size: 15px;
 letter-spacing: 2px;
 font-weight: 800;
}
.lista a{
    text-decoration: none;
    color: white;
}
.imagem{
    margin-left: -300px;
    margin-top: 70px;
}

.lista .butao:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(167, 164, 164);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .lista .butao:hover:after { transform: scaleX(1);
 }
  .lista .butao.Left:after{  transform-origin:  0% 50%; 
padding-bottom: 30px;
}
.txt{
    margin-top: 250px;
    margin-left: -200px;
}
.txt h2{
font-size: 33px;
font-family:  "Barlow Condensed",sans-serif;  
letter-spacing: 3px; 
color: #d2d8f9; 
font-weight: 800;
}
.txt h1{
 font-family:  'Bellefair', serif;
 font-size: 150px;
}
.txt p{
color: #d2d8f9; 
font-weight: 600;
font-size: 19px;
letter-spacing: 1px;
font-family: 'Barlow', sans-serif;
}
.div-txt{
    width: 450px;
}
.explore{
    margin-top: 400px;
}
.explore a{
color: black;
font-family:  'Bellefair', serif;
text-decoration: none;
}
.explorar{
    width: 280px;
    height: 280px;
    border-radius: 280px;
    background-color: white;
    text-align: center;
    margin-left: 550px;
    margin-top: -50px;
    float: left;
}
.explore h1{
    line-height: 280px;
    font-size: 33px;
    letter-spacing: 3px;
    color: black;
    font-family:  'Bellefair', serif;
    
}
.frontend{
    bottom:0;
    font-size: 12px;
    left: 45%;
    position: fixed;
}
@media screen and (max-width:1440px) {

.explore{
   margin-left: -100px;
   margin-top: 300px;
}

.txt h2{
    margin-left: 140px;
}
.txt h1{
margin-left: 130px;
}
.div-txt{
    margin-left: 150px;
}
.lista{
width: 805px;
margin-left: -100px;

}
.b1{
    margin-right: 0px;
}
.hr{
    width: 400px;
    margin-left: 0px;
}
.imagem{
    margin-left: -100px;
}
.txt{
    margin-top: 150px;
}
}
@media screen and (max-width:1280px) {
.imagem{
    margin-left: -30px;
}
.hr{
    width: 350px;
    margin-left: 120px;
}
.lista{
  width:615px;
  margin-left: 10px;
}
.lista .butao{
    margin-right: 0px;
}
.txt h1{
    margin-left: 260px;
}
.txt h2{
    margin-left: 270px;
    width: 500px;
}
.lista li{
    margin-right: 0px;
    margin-left: -30px;
}
.div-txt{
    margin-left: 270px;
}
.frontend{
    left: 35%;
}
}
@media screen and (max-width:1024px) {
.lista{
    margin-left: 100px;
}
.imagem{
    margin-left: 10px;
}
.hr{
    margin-left: 120px;
}
.explorar{
    margin-left: 700px;
    margin-top: -120px;

}
.txt {
margin-left: -200px;
margin-top: 100px;
}
.txt h2{
    width: 400px;
}
.frontend{
left: 40%;
}

}
@media screen and (max-width:912px) {
    body{
        background-image: url('./space-tourism-website-main/space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.imagem{
    margin-left: -20px;
}
.hr{
    margin-left: 85px;
}
.txt{
    margin-left: -250px;
    margin-top: 250px;
}
.explorar{
    margin-top: 30px;
}
.frontend{
    left: 35%;
    
}
}
@media screen and (max-width:820px) {
   
    .txt{
        margin-top: 300px;
    }
    .explorar{
        margin-top: 60px;
    }
   
}
@media screen and (max-width:768px) {
    .frontend{
        font-size: 25px;
        left: 20%;
    }
    .txt{
        margin-top: 300px;
    }
    .explorar{
        margin-top: 60px;
    }
   
}
@media screen and (max-width:720px) {
    .txt{
        margin-top: 200px;
    }
    .explorar{
        margin-top: -10px;
    }
   
}
@media screen and (max-width:540px) {
.imagem{
    margin-left: 20px;
}
.hr{
    width: 250px;
    margin-left: 90px;
}
.frontend{
    margin-bottom: -630px;
}
.explorar{
    margin-top: 50px;
}
.txt{
    margin-top: 300px;
}
}
@media screen and (max-width:425px) {
    body{
        background-image: url('./space-tourism-website-main/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg');

    }
   .lista{
       display: none;
   }
   .hr{
       display: none;
   }
   .imagem{
       width: 40px;
       margin-left: 5px;
       margin-top: 30px;
   }
   .mobile-section{
       display: block;
       margin-left: -270px;
   margin-top: 30px;
    }
   .menu-img{
       width: 50px;
   }
   .mobile-section button{
       background-color: transparent;
       border: none;
       outline: none;
       cursor: pointer;
       position: absolute;
       margin-left: 400px;
       z-index: 2;
   }
   .menuu a{
font-size: 25px;
background-color: #575c65;
width: 50px;
   }
   .colapsu{
       width: 150px;
       height: 600px;
       margin-left: 315px;
  backdrop-filter: blur(80px);
    position:absolute;
    margin-top: -150px;
    z-index: 1;
   }
   .colapsu li{
       margin-top: 60px;
       font-family:  "Barlow Condensed",sans-serif;  
       color:#d2d8f9;
       margin-left:0px;
   }
   .colapsu ul{
       margin-top: 200px;
       margin-left: -10px;
   }
   .colapsu a{
       color: white;
       list-style: none;
       font-size: 15px;
     
   }
   .txt h2{
       margin-left: 330px;
       font-size: 17px;
       width: 250px;
       margin-top: -270px;
   }
   .explorar{
       margin-top: 100px;
       margin-left:205px;
       width: 250px;
       height: 250px;
       border-radius: 250px;
   }
   .explorar h1{
       font-size: 30px;
       margin-top: -20px;
       height: 50px;
       
   }
   .txt h1{
       margin-left: 350px;
       font-size: 65px;
       margin-top: 20px;
   }
   
   .frontend {
    display: none;
    
   }
   
   .div-txt p{
       font-size: 15px;
       margin-left: 00px;
       width: 350px;
       margin-top: 10px;
       text-align: center;
   }
   .div-txt{
       width: auto;
   }
   html{
      height: 700px;
   }
   
   
}
@media screen and (max-width:414px) {
.colapsu{
    margin-left: 310px;
}

.explorar{
    margin-top: 100px;
    width: 190px;
    height: 190px;
    border-radius: 190px;
    margin-left: 235px;
}
.div-txt{
    margin-top: 20px;
    font-size: 18px;
}
.explorar h1{
margin-top: -40px;
font-size: 30px;
}
.txt h2{
    
    margin-top: -280px;
    margin-left: 320px;
}
.txt h1{
    font-size: 70px;
    margin-left: 330px;
    
}
}


@media screen and (max-width:393px) {
    .txt p{
margin-left: -20px;
    }
    .txt h1{
        margin-left: 310px;
    }
    .txt h2{
margin-left: 305px;
margin-top: -250px;
    }
    .frontend{
        bottom:630px;
        font-size: 13px;
      position: absolute;
      width: auto;
    }
    .menu-img{
        margin-left: -20px;
    }
    .colapsu{
        margin-left: 300px;
    }
    .explorar{
        margin-top: 50px;
    }
}
@media screen and (max-width:375px) {
   .txt h2{
margin-top: -230px;
   }
   .explorar{
       width: 220px;
       height: 220px;
       border-radius: 220px;
       margin-left: 220px;
       margin-top:50px;
   }
   .frontend{
       
    bottom:620px;
    font-size: 13px;
  position: absolute;
  width: auto;
  margin-left: -60px;
   }
   .explorar h1{
       margin-top: -25px;
   }
   .colapsu{
       margin-left: 290px;
   }
    }
@media screen and (max-width:360px) {
    .explore{
        margin-top: 270px;
    }
    .frontend{
        bottom:630px;
        font-size: 13px;
      position: absolute;
      width: auto;
    }
    .colapsu{
        margin-left: 290px;
    }
    .menu-img{
        margin-left: -30px;
    }
    .explorar{
        width: 220px;
        height: 220px;
        border-radius: 200px;
        margin-left: 200px;
        margin-left: 220px;
        margin-top: 10px;
    }
    .explorar h1{
        margin-top: -30px;
    
    }
    .txt p{
        margin-left: -30px;
        margin-top: -20px;
    }
    .txt h1{
        font-size: 60px;
        margin-left: 320px;
    }
    .txt h2{
        margin-top: -260px;
    }
    .explorar a{
        width: auto;
    }
}

